header, footer{
    background-color: #eeeeee;
    padding: 5px;
    min-height: 60px;
}
footer .text-center{
    cursor: pointer !important;
}
header img, .list-group img{
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
header img{
    margin-left: 16px;
    border-radius: 100%;
}
img[alt^=AVATAR]{
    border-radius: 100%;
}
main{
    background-color: #e5ddd5;
    min-height: calc(100vh - 121px);
   /* background-image: url('../img/Bela.png'); */
   position: relative;
   z-index: 1;
}
main::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: url('../img/Bela.png') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 25vh -18vh; 
    
    opacity: 0.4;
    z-index: -1 !important;
    
}
header{
    border-bottom: #dbdbdb 1px solid;
}
h6{
    margin: 0;
}
.timeago{
    color: #999;
    font-size: .8em;
}
.badge{
    background-color: #121213;
    border-radius: 100%;
    height: 35px;
    width: 35px;
    margin: auto;
}
#search{
    background-color: #f8f8f8;
    min-height: 50px;
}
#panel-left{
    border-right: #dbdbdbdb;
    color: #4d4d4d4d;
}
#panel-left small{
    color: #9d9d9d9d;
}
.list-group-item{
    border-right: none;
    border-left: none;
    border-color: #f8f8f8;

}
.list-group-item:first-child{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
#panel-left .list-group{
    max-height: 80vh !important;
    overflow: auto;
   /* border: solid 1px red; */
}

a{
    text-decoration: none;
    color: #121213;
}
.list-group-item{
    min-height: 5em;
}